<div class="container">
  <header>
    <div class="avatar">
      <img src="../assets/avatar2_200x200.png" alt="Domingo Cook">
    </div>
    <h1>Domingo Cook</h1>
    <h2>Call me DJ 🙂</h2>
    <nav>
      <a target="_blank" href="https://github.com/DJ9123">GitHub</a>
      <a target="_blank" href="https://www.linkedin.com/in/dj-cook/">LinkedIn</a>
      <a target="_blank" href="mailto:contact@djcook.dev">Email</a>
      <a target="_blank" href="https://discord.com/">DJ#0720</a>
      <!-- <a target="_blank" href="/js/">JavaScript</a>
      <a target="_blank" href="/python/">Python</a> -->
    </nav>
  </header>
  <blockquote>
    Software Developer at L3Harris Technologies working remote from Lubbock, TX.
    Previous full stack developer at Fast Software and math tutor at South Plains College.
    Feel free to reach out to me!
  </blockquote>
  <Section>
    <h3>Experience</h3>
    <div class="section-item">
      <h4>
        Software/Web Developer
        <span class="tag  tag-primary">Co-op</span>
        <span class="tag  tag-secondary">Part-time</span>
        <span class="tag  tag-tertiary">Remote</span>
      </h4>
      <h5><a href="https://www.l3harris.com/" target="_blank" rel="noopener noreferrer">L3Harris</a></h5>
      <ul>
        <li>Given security clearance and worked with ELINT</li>
        <li>Developed with technologies: Django, PostgreSQL, Javascript, HTML/CSS, Python, Shell, and C++</li>
      </ul>
      <p class="section-item-dates">Jan 2020 - Current</p>
    </div>
    <div class="section-item">
      <h4>
        Web Developer
        <span class="tag  tag-secondary">Part-time</span>
      </h4>
      <h5><a href="http://fastsw.com/" target="_blank" rel="noopener noreferrer">Fast Software</a></h5>
      <ul>
        <li>Creation of web-based software local government including reporting, finances, employee management, utility billing, service orders, etc</li>
        <li>Used Jenkins, powershell, and batch scripts to automate workflow such as updating Jira tasks, database backups, and ile management</li>
        <li>Redesign of legacy software to work with modern practices/languages</li>
      </ul>
      <p class="section-item-dates">May 2018 - Jan 2020</p>
    </div>
    <div class="section-item">
      <h4>
        Software Engineer
        <span class="tag  tag-primary">Co-op</span>
      </h4>
      <h5><a href="https://www.nasa.gov/audience/foreducators/stem_on_station/ncas_microalgae/ncas/index.html" target="_blank" rel="noopener noreferrer">NASA Community College Aerospace Scholars</a></h5>
      <ul>
        <li>Worked with a team of ten to design and deploy a Mindstorms rover</li>
        <li>Designed programs for rover to retrieve objectives and identify materials</li>
      </ul>
      <p class="section-item-dates">June 2018</p>
    </div>
    <div class="section-item">
      <h4>
        Tutor
        <span class="tag  tag-secondary">Part-time</span>
      </h4>
      <h5><a href="https://www.southplainscollege.edu/" target="_blank" rel="noopener noreferrer">South Plains College</a></h5>
      <ul>
        <li>Ability to explain topics ranging from beginning Algebra to Calculus 3 and Discrete Mathematics</li>
      </ul>
      <p class="section-item-dates">Oct 2017 - May 2018</p>
    </div>
  </Section>

  <Section>
    <h3>Projects</h3>
    <div class="section-item">
      <h4>
        Weather Map
        <span class="tag  tag-quaternary">TypeScript</span>
        <span class="tag  tag-quaternary">HTML</span>
        <span class="tag  tag-quaternary">SCSS</span>
        <span class="tag  tag-quinary">Angular</span>
        <span class="tag  tag-quinary">Google Geocoding API</span>
        <span class="tag  tag-quinary">OpenWeatherMap API</span>
      </h4>
      <h5><a href="https://dj9123.github.io/W-AP/" target="_blank" rel="noopener noreferrer">Github-Pages</a></h5>
      <ul>
        <li>Search tool for displaying the weekly forecast based on city or zip code</li>
        <li>School project for Texas Tech University Software Engineering</li>
      </ul>
    </div>
    <div class="section-item">
      <h4>
        FRLinkArchiver
        <span class="tag  tag-quaternary">Python</span>
        <span class="tag  tag-quinary">Reddit API</span>
        <span class="tag  tag-quinary">Imgur API</span>
      </h4>
      <h5><a href="https://github.com/DJ9123/FRLinkArchiver" target="_blank" rel="noopener noreferrer">Github-Pages</a></h5>
      <ul>
        <li>Reddit bot which to extract links from posted Imgur albums and comments results</li>
        <li>Automatically removes links if not in the Subreddit's whitelist</li>
        <li>Removes "spaced out" links caused by Imgur's anti spam protection</li>
      </ul>
    </div>
  </Section>
</div>